body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  user-select: text;

}

textarea {
  user-select: text;
}

@font-face  {
  font-family: "Cygnet Round";
  src: url("../public/CygnetRound.ttf") format("truetype");
  
}

.priceListBoxTitle {
  font-family:"Cygnet Round" !important;
  
} 



